{% extends 'base_back.html.twig' %}

{% block title %}New Conducteur{% endblock %}

{% block body %}
    <h1>Create new Conducteur</h1>

    {{ include('admin_conducteur/_form.html.twig') }}

    <a href="{{ path('app_admin_conducteur_index') }}">back to list</a>
{% endblock %}
