{% extends 'base.html.twig' %}
{% block title %}
    Conducteur
{% endblock %}
{% block body %}
    <div class="container">
        <h2>Conducteur</h2>
        {% include'client_reservation/reserve/_form.html.twig' %}
    </div>
{% endblock %}
