{% extends 'base.html.twig' %}

{% block body %}
    <section class="r-car-showcase-wrapper">
        <div class="r-best-vehicles">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-8 col-sm-12">

                        <div id="r-insurance-part" class="r-insurance-part">
                            <div class="container">
                                <div class="row clearfix">
                                    <div class="col-xl-6 col-lg-6 col-md-4 col-sm-6 col-xs-12">
                                        <div class="r-insurance-box">
                                            <div class="icon">
                                                <img src="assets/images/offer-icon-5.html" alt="" class="img-fluid" />
                                            </div>
                                            <div class="r-head">Chauffeurs très actifs</div>
                                            Nos chauffeurs viennent vous chercher n'importe où n'importe quand
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-4 col-sm-6 col-xs-12">
                                        <div class="r-insurance-box">
                                            <div class="icon">
                                                <img src="assets/images/offer-icon-6.html" alt="" class="img-fluid" />
                                            </div>
                                            <div class="r-head">Livraison</div>
                                            Livraison à domicile sans frais supplémentaires
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-4 col-sm-6 col-xs-12">
                                        <div class="r-insurance-box">
                                            <div class="icon">
                                                <img src="assets/images/offer-icon-7.html" alt="" class="img-fluid" />
                                            </div>
                                            <div class="r-head">30ANS d'expérience</div>
                                            Plusieurs professionnels et particuliers nous font confiance.
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-4 col-sm-6 col-xs-12">
                                        <div class="r-insurance-box">
                                            <div class="icon">
                                                <img src="assets/images/offer-icon-8.html" alt="" class="img-fluid" />
                                            </div>
                                            <div class="r-head">Choix varié de voitures</div>
                                            Nous avons toutes les voitures de marque et de type dans nos garages
                                        </div>
                                    </div>
                                </div>
                                <div class="r-insurance-btn-part">
                                    <a href="voitures.html" title="" class="btn-primary">VOIR NOS VÉHICULES</a>
                                    <a href="contact.html" title="" class="btn-default">CONTACTEZ NOUS</a>
                                </div>
                            </div>
                        </div>

                    </div>



                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="r-product-testimonial-wrapper">
                            <h4>Testimonials</h4>
                            <div class="owl-carousel" id="productTestimonial">
                                <div class="r-testimonial-box">
                                    "We know the difference is in the details and that’s why our car rental services, in the tourism and business."
                                </div>
                                <div class="r-testimonial-box">
                                    "We know the difference is in the details and that’s why our car rental services, in the tourism and business."
                                </div>
                                <div class="r-testimonial-box">
                                    "We know the difference is in the details and that’s why our car rental services, in the tourism and business."
                                </div>
                            </div>
                        </div>

                        <div class="r-product-discount">
                            <span class="r-discount">DISCOUNT 50%</span>
                            <p class="r-discount-content"> Special Offers For <strong>Black Friday.</strong> </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section> <!-- /r-car-showcase-wrapper -->
{% endblock %}

{% block title %}

{% endblock %}

