<!--Footer -->
<footer>
    <div class="r-footer">
        <div class="container">
            <div class="row clearfix">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="r-footer-block">
                        <img src="{{ asset('assets/images/footer-logo.png') }}" class="d-block img-fluid" alt="">
                        <div class="r-footer-widget r-footer-nav">
                            <span><i class="fa fa-envelope-open-o"></i> Mail de contact</span>
                            <h6>infotaxitunisie@gmail.com</h6>
                        </div>
                        <p>
                            Tej Rent Car est toujours présente avec son vaste part pour satisfaire vos besoins et assure la suffisance..
                        </p>



                        <form method="post">
                            <div class="r-newsletter">
                                <input type="email" name="subscriberemail" required placeholder="Enter Email Address">
                                <button type="submit" name="emailsubscibe" class="btn"><i class="fa fa-envelope"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="r-footer-block">
                        <div class="r-footer-widget r-footer-phone">
                            <span><i class="fa fa-phone"></i> APPELEZ-NOUS MOBILE</span>
                            <h5>+216-98345925</h5>
                        </div>
                        <div class="r-footer-widget r-footer-nav">
                            <h6>LIENS UTILES</h6>
                            <nav>
                                <ul>
                                    <li><a href="page6713.html?type=conditions">Conditions    </a></li>
                                    <li><a href="#">Mentions Légales</a></li>
                                    <li><a href="#">Charte qualité</a></li>
                                    <li><a href="agences.html">Agences</a></li>
                                    <li><a href="#">Assurance Plus</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="r-footer-block">
                        <div class="r-footer-widget r-footer-phone">
                            <span><i class="fa fa-phone"></i> APPELEZ-NOUS FIXE</span>
                            <h5>+216-72260099</h5>
                        </div>

                        <div class="r-footer-widget r-footer-nav">
                            <h6>NOS INFOS</h6>
                            <nav>
                                <ul>
                                    <li><a href="#">About TejRentCar</a></li>
                                    <li><a href="#">Notre Mission & Stratégie</a></li>
                                    <li><a href="#">Notre Vision</a></li>
                                    <li><a href="points-forts.html">Nos points forts</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="r-footer-block">

                        <div class="r-footer-widget r-footer-map">
                            <a href="https://g.page/tej-rent-car?share" target="_blank"> <img src="{{ asset('assets/images/icon-footer-map.png') }}" alt="" class="icon"/> TejRentCar sur la carte</a>
                        </div>
                        <div class="r-footer-widget r-footer-nav">
                            <h6>AGENCES AUX AÉROPORTS</h6>
                            <nav>
                                <ul>
                                    <li><a href="#">Location voiture aéroport Tunis</a></li>
                                    <li><a href="#">Location voiture aéroport Enfidha</a></li>
                                    <li><a href="#">Location voiture aéroport Djerba</a></li>
                                    <li><a href="#">Location voiture aéroport Sfax</a></li>
                                    <li><a href="#">Location voiture aéroport Monastir</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix r-footer-strip">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    © 2021 Développed by <a href="https://www.webfistrank.com/" target="_blank" title="Agence communication digitale en Tunisie">WEBFIRSTRANK</a>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <ul>
                        <li><a href="https://www.facebook.com/agencevoiturelocation"><i class="fa fa-facebook"></i>. <span>Facebook</span></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i>.<span>Twitter</span></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i>.<span>Instagram</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer><!-- /Footer-->
